<div class="container mx-auto prose">
  <div class='flex justify-between mt-4'>
    <h1 class="text-center text-2xl"> <%= t('.title') %> </h1>
    <%= link_to t('.new'), new_task_path, class: "btn btn-primary btn-sm ml-5" %>
  </div>

  <%= form_tag(tasks_path, method: "get", class: "flex gap-4 items-end mt-5", data: { turbo_frame: "tasks_table" }) do %>
    <%= text_field_tag :title, params[:title], placeholder: t('.filter_by_title'), class: "border border-gray-300 rounded-md p-2" %>
    <div class='flex flex-col'>
      <%= label_tag :status, t('.status') %>
      <%= select_tag :status, options_for_select([[t('.all'), nil], [t('.done'), true], [t('.pending'), false]], selected: params[:status]), class: "border border-gray-300 rounded-md p-2" %>
    </div>
   <div class='flex flex-col'>
      <%= label_tag :project_id, t('.project') %>
      <%= select_tag :project_id, options_for_select([[t('.all'), nil]] + Project.by_user(current_user.id).map { |p| [p.title, p.id] }, selected: params[:project_id]), class: "border border-gray-300 rounded-md p-2" %>
    </div>
    <%= submit_tag t('.filter'), class: "btn btn-primary" %>
  <% end %>
  <%= turbo_frame_tag "tasks_table" do %>
    <div class="overflow-x-auto mt-5">
      <table class="table table-zebra">
        <!-- head -->
        <thead>
          <tr>
            <th></th>
            <th> <%= t('.name')%> </th>
            <th> <%= t('.project')%> </th>
            <th><%= t('.description')%></th>
            <th><%= t('.tags')%></th>
            <th><%= t('.is_done')%></th>
            <th><%= t('.actions')%></th>
          </tr>
        </thead>
        <tbody>
          <!-- body -->
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.id %></td>
              <td><%= highlight(task.title, params[:title]) %></td>
              <td><%= task.project.title %></td>
              <td><%= task.description %></td>
              <td>
                <% task.tags.each do |tag| %>
                  <span class="badge"><%= tag.title %></span>
                <% end %>
              </td>
              <td><%= task.status %></td>
              <td>
                <%= link_to t('.edit'), edit_task_path(id: task.id), class: "btn btn-link btn-sm" %>
                <%= link_to t('.detail'), task_path(id: task.id), class: "btn btn-link btn-sm" %>
                <%= link_to t('.destroy'), task_path(id: task.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('.confirm_destroy') }, class: "btn btn-link btn-sm" %>
                <%= link_to task.is_done ? t('.mark_as_pending') : t('.mark_as_done'), toggle_done_task_path(id: task.id), method: :patch, class: "btn btn-link btn-sm", data: { turbo_method: :patch } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="flex justify-center my-4">
      <div class="join mt-3">
          <% if @pagy.prev %>
            <%= link_to '<<', pagy_url_for(@pagy, @pagy.prev), class: "join-item btn" %>
          <% end %>



          <button class="join-item btn">Strana <%= @pagy.page %></button>

          <% if @pagy.next %>
            <%= link_to '>>', pagy_url_for(@pagy, @pagy.next), class: "join-item btn" %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>